body {
    background-color: #EEEEEE;
    
}

.container {
    
    max-width: 1500px;   
    margin-left: auto;
    margin-right: auto;
    background-color: #F8FAFE;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    margin-top: -100px;
}

header { 
  display: flex;
  justify-content: space-between;  
  
  position: fixed;
  z-index: 1;
  width: 1500px;
  align-items: center;
  background-color:#F0F0F0;  
}

main {  
  margin-top: 100px;
  padding-top: 100px;
}

.basket-header {
  display: flex;
}

.basket-3 {
    display: flex;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #F36223;
    color: black;
    text-align: center;
    margin-top: -15px;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.main-pics {
    display:flex;    
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px; 
       
}

  .main-pics__1 {
    height:387px;
    width:304.33px;
}

  .main-pics__2 {
    height:387px;
    width:192.73px;
}

  .main-pics__3 {
    height:387px;
    width:199.06px;
}

  .main-pics__4 {
    height:387px;
    width:361.5px;
}

  .main-pics__5 {
    height:387px;
    width:299.22px;
}

.opisanie-aside
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.opisanie {    
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 880px;
  margin-top: 30px;    
}

A {    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #008CF0;
   }
   A:hover {
    color: #F36223; /* Цвет активных ссылок */
   }
   A:link { 
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 
   A:focus {
    color: #A93A09;
   }

p {
    margin-top: 16px;
    margin-bottom: 16px;
  }

iframe {
    border-width: 1px; border-color: #ccc; border-style: dashed;    
}

  .frame {
    width: 420px;
    height: 300px;
    margin-bottom: 15px;
    background: #F0F0F0;
}

    .h1__ico {  
        margin:0;
        margin-top: 7px;        
    }
    .h1__name {
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 53px;
        margin-top: 18px;
}

.breadcrumbs {
    display: flex;
    gap: 4px; 
    margin-top: 27px;   
}
  
h2 {
    margin-top: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

h3 {
  margin: 0;
  margin-top: 30px;
  gap: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.color-product-div {
    width: 530px;
    height: 114px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin:0;
}

   .color-product__name {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      margin:0;
      padding: 0;
      margin-bottom: 15px;
}

    .color-products {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
}

      .color-product-1 {
        width: 80px;
        height: 80px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;


}

      .color-product-2 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;
        width: 80px;
        height: 80px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px; 
}

      .color-product-3 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;
        width: 80px;
        height: 80px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;  
}

      .color-product-4 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;
        width: 80px;
        height: 80px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
}

      .color-product-5 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;
        width: 80px;
        height: 80px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
}

      .color-product-6 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;
        width: 80px;
        height: 80px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;  
}

    .color-product {
        display: flex;
        flex-direction: row;
        width: 80px;
        height: 80px;
        background: #EEEEEE;
        border: 1px solid #888888;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    
}

       .color-product:hover {
         background: #F2F2F2;
         border-color: #F36223;
}

       .color-product:active {
         border-color: #A93A09; 
       }  
     

.memory {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
  margin-bottom: 15px;
}

  .memory__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

    .memory__button {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 10px 20px;
      gap: 10px;
      width: 92px;
      height: 39px;
      border: 1px solid #888888;
      border-radius: 4px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color:#000000;
      background-color: #EEEEEE;
}

      .memory__button:hover {
        background: #F2F2F2;
        border-color: #F36223;
}

      .memory__button:active {
        border-color: #A93A09;
}    

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

  .list div {
    display: flex;
    gap: 10px;
    align-items: center;
}

  .list div::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #888888;
}

.start-opisanie {
    font-size: 16px;
}

.main-opisanie {
    display: flex;
    flex-direction: column;
    text-align: justify;
    
}

.otzivi {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  width: 880px;  
}  
  .otziv__add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 25px; 
} 

  .add__button {
      width: 168px;
      height: 39px;
      border: 1px solid #888888;
      border-radius: 4px;
}

.review {
    display: flex;
    flex-direction: row;
    
}

  .review__pic {
    width: 140px;
    height: 140px;
    border: 1px solid #888888;
    border-radius: 50%;
    margin-right: 30px;
}

aside {
  display: flex;
  flex-direction: column;
  float: right;
  width:420px;
  height:957px;
  margin-left: 100px;
}

.list-aside-vazhnoe {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 420px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

  .list-aside__vazhnoe__price-s {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #888888;
    font-size: 16px;     
    align-items: center;
    
    margin-bottom: 0px; 
    
}

.old-price {
  width: 70px;
}

  .list-aside__vazhnoe__price
{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.procent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
  width: 47px;
  height: 24px;
  color: #FFFFFF;
  background: #F36223;
  border-radius: 500px;
}

.p-price {
    margin-bottom: 0px;
}
.p-price-2 {
    margin-top: 10px;
}

.reklama {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-top: 40px;
   }
.srav-model {
  
  margin-top: 20px;
  margin-bottom: 20px;
}   
.table-1 {
  border: 1px solid #888888;
  border-collapse: collapse;
  width: 876px;
  height: 190px;
}
  .table-1 th, td, tr {
    text-align: center;
    border: 1px solid #888888;
  }
  .tr-1:hover {
    background: #F36223;
  }
  
.h3-5 {
  margin-top: 15px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.up {
  margin-right: 50px;
}
hr {
  border: 1px dashed #888888; 
  margin-left: 170px; 
}
.form-1 {
  display: flex;
  justify-content: flex-end;
}
legend {
  font-weight: 700;
  font-size:16px;
}
.name-calc {
  display: flex;  
}
input::placeholder {
  color:#888888;
  font-size: 16px;   
}
.name {
  width: 425px;
  height: 49px;
  padding-left: 20px;
  margin-right: 40px;
}
.calc {
  width: 175px;
  height: 49px;
  padding-left: 20px;
}
fieldset {
  border: 0px;
}
.review-form {     
  padding-left: 20px;
  padding-bottom: 156px;
  width: 670px;
  padding-top: 15px;  
}
.name-of-client {
   font-size: 20px;
}
.send-review {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left:20px;
  gap: 10px;
  margin:0px;
  width: 177px;
  height: 39px;
  background: #F36223; 
  border-radius: 4px;
  color: white; /* Белые буквы */ 
  font-size: 16px; /* Размер шрифта в пунктах */
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  border-color: #F36223;
  border-style: inherit;
  margin-top: -20px;
  margin-bottom: 100px;
  margin-left: 10px;
}
  .send-review:hover {
    background-color: #DA4A0C;
  }
  .send-review:active {
    background-color: #A93A09;
  }
input:hover {  
  outline-color: #F36223;
}  
@media (max-width: 1023px) {  
  .container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;         
  }
  .main-pics__1 {
    width: 213.89px;
    height: 272px; 
  }
  .main-pics__2 {
    width: 135.46px;
    height: 272px;
  }
  .main-pics__3 {
    width: 139.91px;
    height: 272px;
  }
  .main-pics__4 {
    width: 254.07px;
    height: 272px;
  }
  .main-pics__5 {
    width: 210.3px;
    height: 272px;
  }
  aside {
    margin-left:40px;
  }
  .review__pic {
    width: 100px;
    height: 100px;
  } 
  .star-gold {
    width: 20px;
    height: 20px;
  }
  .form-1 {
    display: flex;
    justify-content: flex-start;    
  } 
}
@media (max-width: 1499px) {
  .srav-model {
    display: none;
  }
  .btn-heart {      
    display: inline-block; 
    border: 0; 
    width: 45px;
    height: 45px;
    background-image: url('./images/heart.svg');  
    background-repeat: no-repeat;  
    background-position: center;  
  }
  .basket-3 {
    display: flex;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #F36223;
    color: black;
    text-align: center;
    margin-top: -15px;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}
}

.btn {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  gap: 15px;
  padding: 20px 49px;
  background: #F36223;
  border: 0;
  border-radius: 4px;
  color: white;
  width: 380px;
}    

  .btn::before {
    content: "";   
    display: inline-block;   
    width: 24px;
    height: 24px;
    background-image: url('./images/basket.svg');  
    background-repeat: no-repeat;  
    background-position: center;
}
  .btn:hover {
    background: #DA4A0C;
  }
  .btn:active {
    background: #A93A09;
  }

.btn-heart {  
  display: inline-block; 
  border: 0; 
  margin-left: 200px;  
  width: 45px;
  height: 45px;
  background-image: url('./images/heart.svg');  
  background-repeat: no-repeat;  
  background-position: center;  
}

  .btn-heart:hover {
    background-image: url('./images/heart-hover.svg');
}
  .btn-heart:active {
    background-image: url('./images/heart-focus.svg');
}

